# Config options for the selenium test.
#site_hostname = "connect.circleanywhere.com"
#site_hostname = "staging-connect.circleanywhere.com"
#site_hostname = "connect.moxiemeet.com"
site_hostname = "staging-connect.moxiemeet.com"
event_id = "585"
access_key = "{{ server_test_access_key }}"
page_wait_time = 3
audio_filepath = "/home/test/media/sample-audio.wav"
video_filepath = "/home/test/media/sample-vid.y4m"
shape_traffic = False

# vi: ft=python
